body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #878787;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  line-height: 28px;
  margin-bottom: 0;
  padding-bottom: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}
li:first-letter {
  text-transform: capitalize;
}

img {
  height: 70px;
  width: 70px;
}
.weather-app {
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 30px auto;
}
.weather-wrapper {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  max-width: 600px;
  margin: 0px;
}
.date-time {
  font-size: 16px;
  color: rgb(135, 135, 135);
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}
.temp {
  font-size: 60px;
  color: rgb(51, 51, 51);
  position: relative;
  top: 25px;
  text-decoration: none;
}
.celcius {
  color: rgb(51, 51, 51);
}
.weather-description {
  font-size: 16px;
  color: rgb(135, 135, 135);
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}

.temp-details {
  font-size: 12px;
  text-align: left;
  color: #878787;
  position: relative;
  top: 15px;
}

.github {
  color: rgb(135, 135, 135);
}
.temp-description {
  text-decoration: none;
}
.temp-description.active {
  color: rgb(51, 51, 51);
  cursor: default;
}
.temp-description.active:hover {
  text-decoration: none;
}
